
extends layout
//- this logic should be moved to a view at some point

block prepend meta_title

  title='Daftar Semua Artikel - ' + locals.name  
  meta(name="description", content='Daftar Semua Artikel - '+ locals.name + ' - ' + locals.description) 

  meta(property="og:title", content='Daftar Semua Artikel - ' + locals.name)
  meta(property="og:description", content='Daftar Semua Artikel - '+ locals.name + ' - ' + locals.description)
  meta(property="og:url", content=locals.url+'/archive.html')
  meta(property="og:image", content=locals.logoUrl)
  meta(property="og:image:secure_url", content=locals.logoUrl)
  meta(property="og:site_name", content=locals.url)
  meta(property="og:type", content="website")
  meta(property="og:image:width", content="300")
  meta(property="og:image:height", content="300")

  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:title", content='Daftar Semua Artikel - ' + locals.name)
  meta(name="twitter:description", content='Daftar Semua Artikel - '+ locals.name + ' - ' + locals.description)
  meta(name="twitter:image:src", content=locals.logoUrl)
  meta(name="twitter:image:src", content=locals.logoUrl)
  meta(name="twitter:image:width", content="300")
  meta(name="twitter:image:height", content="300")
  meta(name="twitter:domain", content=locals.url+'/archive.html')

block content
  - var lineHeight = 2.2;
  - var archives = _.chain(env.helpers.getArticles(contents)).groupBy(function(item) {
  -   return item.date.getFullYear();
  - }).value();
  - for (var archive in archives) {
  -   archives[archive] = _.groupBy(archives[archive], function(item) { return item.date.getMonth(); });
  - }
  - var month_names = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember']

  section.archive
    h2 
      i.fa.fa-star
      | #{ '  Semua Artikel  ' }
      i.fa.fa-star

    - var yearsK = _.chain(archives).keys().reverse().value();
    each yearK in yearsK

      - var months = archives[yearK];

      div.archive__year
        div.archive__year-label
          | #{ 'Tahun ' }
          = yearK
        
        - var monthsK = _.chain(months).keys().reverse().value();
        each monthK in monthsK

          div.archive__month
            div.archive__month-label
              i.fa.fa-chevron-right
              | #{ ' Bulan ' }
              = month_names[monthK]

            ul
              each item in months[monthK]

                li.archive__article
                  i.fa.fa-angle-double-right
                  | #{ ' ' }
                  a(href=locals.url+item.url)= item.title
                  | #{ ' dipublikasikan ' }
                  span
                    =moment.utc(item.date).format('DD MMM YYYY')
