
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend meta_title
  title= page.title  
  meta(name="description", content=page.title +' - '+ locals.name) 

  meta(property="og:title", content=page.title)
  meta(property="og:description", content=page.title + ' - ' + locals.name)
  meta(property="og:url", content=page.url)
  meta(property="og:image", content=locals.logoUrl)
  meta(property="og:image:secure_url", content=locals.logoUrl)
  meta(property="og:site_name", content=locals.url)
  meta(property="og:type", content="website")
  meta(property="og:image:width", content="300")
  meta(property="og:image:height", content="300")

  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:title", content=page.title)
  meta(name="twitter:description", content=page.title + ' - ' + locals.name)
  meta(name="twitter:image:src", content=locals.logoUrl)
  meta(name="twitter:image:width", content="300")
  meta(name="twitter:image:height", content="300")
  meta(name="twitter:domain", content=page.url)


block header
  div.breadcrumb
    a.breadcrumb__home(href=locals.url)
      i.fa.fa-home
    | #{ '  ' }
    i.fa.fa-angle-double-right
    | #{ '  ' }    
    - var tagsBreadcrumb = env.helpers.getTagsFromArticle(page)
      each tag in tagsBreadcrumb
        if env.helpers.getTagHome(tag) !== undefined
          a(href=locals.url+env.helpers.getTagHome(tag).url)= tag
    | #{ '  ' }
    i.fa.fa-angle-double-right
    | #{ '  ' }
    a(href='#')=page.title
  include author
  h1= page.title
  div.author
    i.fa.fa-user-o
    | #{ ' Ditulis oleh ' }
    mixin author(page.metadata.author)
  div.date-publish
    i.fa.fa-clock-o
    | #{ ' Dipublikasikan ' }
    = moment.utc(page.date).format('DD MMM YYYY')
  div.comment__link
    a(href=locals.url+page.url+"#disqus_thread")
      i.fa.fa-comment-o
      | #{ ' Komentar ' }

block content
  article.article
    section.article__content!= typogr(page.html).typogrify()
    
  div.article__tags   
    span
      i.fa.fa-tags  
    | #{ ' Tags : ' } 
    - var tags = env.helpers.getTagsFromArticle(page)
      each tag in tags
        if env.helpers.getTagHome(tag) !== undefined
          a(href=locals.url+env.helpers.getTagHome(tag).url)= tag

block prepend footer
  div.footer__nav
    a(href=locals.url) &laquo; Kembali ke Halaman Utama    
  #disqus_thread

block prepend footer_script
  script.
      var disqus_config = function () {
        this.page.url = "#{locals.url}" + "#{page.url}";
        this.page.identifier = "#{locals.url}" + "#{page.url}";
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://ft-umj-4-github-io.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
  noscript
      | Please enable JavaScript to view the 
      a(href='https://disqus.com/?ref_noscript', rel='nofollow') comments powered by Disqus.

