
extends layout

block prepend meta_title
  title= locals.name  
  meta(name="description", content=locals.description) 

  meta(property="og:title", content=locals.name)
  meta(property="og:description", content=locals.description)
  meta(property="og:url", content=locals.url)
  meta(property="og:image", content=locals.logoUrl)
  meta(property="og:image:secure_url", content=locals.logoUrl)
  meta(property="og:site_name", content=locals.url)
  meta(property="og:type", content="website")
  meta(property="og:image:width", content="300")
  meta(property="og:image:height", content="300")

  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:title", content=locals.name)
  meta(name="twitter:description", content=locals.description)
  meta(name="twitter:image:src", content=locals.logoUrl)
  meta(name="twitter:image:src", content=locals.logoUrl)
  meta(name="twitter:image:width", content="300")
  meta(name="twitter:image:height", content="300")
  meta(name="twitter:domain", content=locals.url)

    
block content
  include author
  
  each article in articles
    article.article.intro
      header.article__header
        div.article__title
          a(href=locals.url+article.url)= article.title  

      div.author
        i.fa.fa-user-o
        | #{ ' Ditulis oleh ' }
        mixin author(article.metadata.author)

      div.date-publish
        i.fa.fa-clock-o
        | #{ ' Dipublikasikan ' }
        = moment.utc(article.date).format('DD MMM YYYY')

      div.comment__link.m-bottom-5
        a(href=locals.url+article.url+"#disqus_thread")
          i.fa.fa-comment-o
          | #{ ' Komentar ' }

      section.article__content
        if article.intro.length > 0
          != typogr(article.intro).typogrify()
        if article.hasMore
          p.more
            a(href=locals.url+article.url) baca lebih banyak...
          
      div.article__tags   
        span
          i.fa.fa-tags  
        | #{ ' Tags : ' } 
        - var tags = env.helpers.getTagsFromArticle(article)
          each tag in tags
            if env.helpers.getTagHome(tag) !== undefined
              a(href=locals.url+env.helpers.getTagHome(tag).url)= tag

block prepend footer
  div.footer__nav
    if prevPage
      a(href=locals.url+prevPage.url) &laquo; Halaman Sebelumnya
    else
      a(href=locals.url+'/archive.html') &laquo; Lihat semua artikel
    if nextPage
      a(href=locals.url+nextPage.url) Halaman Berikutnya &raquo;
